[submodule "deps/base64"]
	path = deps/base64
	url = https://github.com/aklomp/base64.git
	branch = master
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
	branch = master
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
