[submodule "deps/base64"]
	path = deps/base64
	url = https://github.com/aklomp/base64.git
	branch = master
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
	branch = master
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/mpeterv/argparse.git
[submodule "deps/lpeg"]
	path = deps/lpeg
	url = https://github.com/roberto-ieru/LPeg.git
[submodule "deps/scintillua"]
	path = deps/scintillua
	url = https://github.com/orbitalquark/scintillua.git
[submodule "deps/replxx"]
	path = deps/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "deps/luafilesystem"]
	path = deps/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "deps/luasocket"]
	path = deps/luasocket
	url = https://github.com/diegonehab/luasocket.git
[submodule "deps/lua-zlib"]
	path = deps/lua-zlib
	url = https://github.com/brimworks/lua-zlib.git
[submodule "deps/luaossl"]
	path = deps/luaossl
	url = https://github.com/wahern/luaossl.git
[submodule "deps/luarocks"]
	path = deps/luarocks
	url = https://github.com/luarocks/luarocks.git
